{% extends 'base.html' %}

{% block content %}
    <div style="padding: 20px;text-align: center;"><h1>Transaction list</h1></div>
    <div id="balance">
    {% include 'fin/balance.html' %}
    </div>
    {% include 'fin/fin_form.html' %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Categoris</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date Transaction</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% include 'fin/list.html' %}
        </table>
    </div>

{% endblock %}

